<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <a href="https://zenology101.github.io/kanye_quote_project/" style="text-align: center;"><button>Motivation</button></a>
        <div class= info>
            <a href="/logs/new"><button>New Log</button></a>
            <% for (log of logs) {%>
                
                <article>
                    <a href="/logs/<%= log._id %> ">
                    <h2>
                        <%= log.name %> - <%= log.weight %> 
                    </h2>
                    </a>
                </article>

            <% } %> 
        </div>
        
    </main>
    
</body>
</html>